<div class="banner">
  <div>
    <%# <img src="https://media.istockphoto.com/id/1372681569/nl/foto/hands-holding-a-film-slate-directing-a-movie-scene.jpg?s=612x612&w=0&k=20&c=GHBwhPaZ10BI4mKjhQGjt4Krngw1BzeyCVV9sP6ktCE=" alt="Banner Background"> %>
    <h1>Save any kind of movies</h1>
    <h2>Classic</h2>
  </div>
</div>
<div class="container mt-5" >
  <% if @lists.empty? %>
    <h1>your data base is empty</h1>
    <% else %>
    <div class="movie-list-row">
      <% @lists.each do |list| %>
      <div class="movie-list-card"style="background-image: url('<%= list.img_url%>')">
        <div class="h2-center">
          <h2><%= link_to list.name, list_path(list) %></h2>
        </div>
        <div class="card-actions">
          <%= link_to edit_list_path(list), class: 'edit-link' do %>
            <%= content_tag :i, '', class: 'fa-solid fa-pen-to-square' %>
          <% end %>
          <%= link_to list_path(list),
                method: :delete,
                data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
                class: 'delete-link' do %>
            <%= content_tag :i, '', class: 'fa-solid fa-trash' %>
          <% end %>
          <%= link_to "Add Bookmark", new_list_bookmark_path(list), class: "add_bookmark" %>
        </div>
      </div>
      <% end %>
    </div>
  <% end %>
</div>
