<%# <img src="https://media.istockphoto.com/id/1372681569/nl/foto/hands-holding-a-film-slate-directing-a-movie-scene.jpg?s=612x612&w=0&k=20&c=GHBwhPaZ10BI4mKjhQGjt4Krngw1BzeyCVV9sP6ktCE=" alt="Banner Background"> %>
  <div class="banner-movie"style="background-image: url('<%= cl_image_path @list.photo.key, height: 300, width: 400, crop: :fill %>')">
      <div>
      <h1><%= @list.name %></h1>
    </div>
  </div>


<div class="row row-cols-1 row-cols-md-3 g-4">
  <% @list.bookmarks.each do |bookmark| %>
    <div class="col">
      <div class="card">
        <img src="<%= bookmark.movie.poster_url %>" class="card-img-top" alt="Poster">
        <div class="card-body">
          <h5 class="card-title"><%= bookmark.movie.title %></h5>
          <p class="card-text"><%= bookmark.comment %></p>
        </div>
        <div class="card-footer">
          <%= link_to list_path(@list),
                    method: :delete,
                    data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
                    class: 'btn btn-danger delete-link' do %>
            <%= content_tag :i, '', class: 'fa-solid fa-trash' %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
